body {
    font-family: 'Baloo 2', cursive;
}

body{
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: center;
    

}



section {
    border: 1px red dotted;
    min-height: 100vh;
}

i {
    color: mediumpurple;
}
/* text styles // start */

h1 {
    color:gold;
    color:darksalmon;
}

h2 {
    color: red;
}

h3 {
    color:lightsalmon;
}

h4 {
}

h5 {
}

h6 {

}

ul {
list-style-type: none;
margin: 0;
padding :0;
}
li {
display: inline;
}

/* text styles// end */

/* CLASSES */
.bgcolorsection1 { 
    background-color: greenyellow;
    background-image: url("../CSS/IMG/sloop.jpg");
    background-position: center;
    background-size: cover;
}

.bgcolorsection2 { 
background-color: palegreen;
}

.bgcolorsection3 { 
    background-color: rosybrown;
    background-image: url("../CSS/IMG/gloop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgcolorsection4 {
    background-color: mintcream;
}
.bgcolorsection5 {
    background-color: skyblue;
}
.bgcolorsection6 {
    background-color: tan;
}

.fa-search {
    color: black;
}
